# Type Conversion Practice
This notebook demonstrates how to perform type conversions in Python.

In [7]:
print("=== Type Conversion Practice ===\n")

# 1. String to Number Conversion
print("1. STRING TO NUMBER CONVERSION")
number_str = "123"
float_str = "45.67"

# Convert to integer
number_int = int(number_str)
print(f"String '{number_str}' to integer: {number_int} (Type: {type(number_int)})")

# Convert to float
number_float = float(float_str)
print(f"String '{float_str}' to float: {number_float} (Type: {type(number_float)})")
print()

=== Type Conversion Practice ===

1. STRING TO NUMBER CONVERSION
String '123' to integer: 123 (Type: <class 'int'>)
String '45.67' to float: 45.67 (Type: <class 'float'>)

In [9]:
# 2. NUMBER TO STRING CONVERSION
print("2. NUMBER TO STRING CONVERSION")
age = 25
salary = 50000.50

age_str = str(age)
salary_str = str(salary)
print(f"Integer {age} to string: '{age_str}' (Type: {type(age_str)})")
print(f"Float {salary} to string: '{salary_str}' (Type: {type(salary_str)})")
print()

2. NUMBER TO STRING CONVERSION
Integer 25 to string: '25' (Type: <class 'str'>)
Float 50000.5 to string: '50000.5' (Type: <class 'str'>)

In [8]:
# 3. MIXED TYPE OPERATIONS
print("3. MIXED TYPE OPERATIONS")
num_str = "10"
num_int = 5

# result = num_str + num_int  # TypeError (wrong way)

# Right way - convert first
result = int(num_str) + num_int
print(f"'{num_str}' + {num_int} = {result}")
print()

3. MIXED TYPE OPERATIONS
'10' + 5 = 15

In [10]:
# 4. BOOLEAN CONVERSION
print("4. BOOLEAN CONVERSION")
print(f"bool(0): {bool(0)}")
print(f"bool(1): {bool(1)}")
print(f"bool(-1): {bool(-1)}")
print(f"bool('Hello'): {bool('Hello')}")
print(f"bool(''): {bool('')}")
print(f"bool([]): {bool([])}")
print()

4. BOOLEAN CONVERSION
bool(0): False
bool(1): True
bool(-1): True
bool('Hello'): True
bool(''): False
bool([]): False

In [11]:
# 5. PRACTICAL EXAMPLE - CALCULATOR INPUT
print("5. PRACTICAL EXAMPLE - CALCULATOR INPUT")
input1 = input("Enter first number: ")
input2 = input("Enter second number: ")

num1 = float(input1)
num2 = float(input2)

sum_result = num1 + num2
print(f"{num1} + {num2} = {sum_result}")
print()
print("=== Type Conversion Practice Complete ===")

5. PRACTICAL EXAMPLE - CALCULATOR INPUT
Enter first number: 3
Enter second number: 4
3.0 + 4.0 = 7.0

=== Type Conversion Practice Complete ===